.ipynb_checkpoints/1 - PropFluidos.Ex6-checkpoint.ipynb
.ipynb_checkpoints/2 - Hidrostatica.Ex2-checkpoint.ipynb
.ipynb_checkpoints/3 - hidrostatica.Ex4-checkpoint.ipynb
.ipynb_checkpoints/4 - Hidrostática.Ex3-checkpoint.ipynb
.ipynb_checkpoints/5 - Impulsões.Ex.13-checkpoint.ipynb
.ipynb_checkpoints/6 - Impulsões.Ex15-checkpoint.ipynb
